<%= form_with(model: bookmarked_service, local: true) do |form| %>
  <% if bookmarked_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmarked_service.errors.count, "error") %> prohibited this bookmarked_service from being saved:</h2>

      <ul>
        <% bookmarked_service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
